{% extends "corona_website_app/base.html" %}

{% block title %}Coronavirus by Country | About{% endblock title %}

{% block styles %}
    <style>
        .about_content {
            padding: 50px;
        }
    </style>
{% endblock styles %}

{% block content %}
    <div style="margin: auto;" class="col-10">
        <hr>
        <h1>About</h1>
        <p>This website consolidates and visualizes data from The Center for Systems Science and Engineering (CSSE) at Johns Hopkins University. </p>
        <br>
        <p><b>THIS SITE HAS NO AFFILIATIONS WITH THE UNIVERSITY</b></p>
        <br>
        <h2>Future Features</h2>
        <ul>
            <li>Add map visualization</li>
        </ul>
        <br>
        <h2>Data Sources</h2>
        <p><a href="https://github.com/CSSEGISandData/COVID-19">GitHub - CSSEGISandData/COVID-19: Novel Coronavirus (COVID-19) Cases, provided by JHU CSSE</a></p>
        <br>
        <h2>GitHub</h2>
        <p>Submit issues or feature requests through this <a href="https://github.com/Nicholas-Chong/coronavirus_tracker_website/issues">Github page!</a></p>
    </div>
{% endblock content %}