{% extends "corona_website_app/base.html" %}

{% block styles %}
<style>
    @media only screen and (max-width: 786px) {
        body {
            font-size: larger;
        }
    }
    
    .table {
        margin: auto;
        margin-bottom: 25px;
        align-self: center;
        width: 80%;
        height: 80%;
        table-layout: fixed;
    }

    tbody {
        width: 80%;
        height:200px;
        overflow-y:auto;
        width: 100%;
    }

    th, td {
        text-align: center;
    }
</style>
{% endblock styles %}

{% block content %}
<div style="margin-top: 25px;">
    <!-- <form class="text-center" action="" style="margin-bottom: 25px;">
        <input list="sorts" id="sort_by" name="sort_by" placeholder="Sort by">
        <datalist id="sorts">
            <option value="Country Name"></option>
            <option value="Number of Cases"></option>
            <option value="Number of Recoveries"></option>
            <option value="Number of Deaths"></option>
        </datalist>
        <button style="align-items: center;" class="btn btn-primary" type="submit">Go</button>
    </form> -->
    <table id="main-table" class="table table-striped table-fixed">
        <caption>Data Source: John Hopkins University Github</caption>
        <caption>Last Updated {{ last_updated }}</caption>
        <thead style="background-color: rgb(236, 136, 136);" class="sticky-top">
            <th style="width: 40%;" scope="col">Countrys</th>
            <th scope="col">Cases</th>
            <th scope="col">Recovered</th>
            <th scope="col">Deaths</th>  
            </thead>
        <tbody style="margin-bottom: 25px;">
            {% for country in consolidated %}
                <tr>
                    <td>{{ country.name }}</td>
                    <td>{{ country.num_cases }}</td>
                    <td>{{ country.num_recoveries }}</td>
                    <td>{{ country.num_deaths}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}