{% extends "corona_website_app/base.html" %}

{% block title %}Coronavirus by Country | World Map{% endblock title %}

{% block styles %}
{% endblock styles %}

{% block content %}
    <div id="mydiv"></div>
    <center><div id="myDiv"></div></center>
    <script>
        var cases_data = {{ num_cases|safe }};
        var country_codes = {{ codes|safe }};
        var data = [{
                type: 'choropleth',
                locations: country_codes,
                z: cases_data,
                text: [],
                colorscale: [
                    [0,'rgb(5, 10, 172)'],[0.35,'rgb(40, 60, 190)'],
                    [0.5,'rgb(70, 100, 245)'], [0.6,'rgb(90, 120, 245)'],
                    [0.7,'rgb(106, 137, 247)'],[1,'rgb(220, 220, 220)']],
                autocolorscale: false,
                reversescale: true,
                marker: {
                    line: {
                        color: 'rgb(180,180,180)',
                        width: 0.5
                    }
                },
                tick0: 0,
                zmin: 0,
                dtick: 1000,
                colorbar: {
                    autotic: false,
                    tickprefix: '',
                    title: 'Coronavirus<br>Cases'
                }
        }];

        var layout = {
            title: 'Total Coronavirus Cases',
            width: 1250,
            height: 1000,
            margin: {
                l: 50,
                r: 50,
                b: 100,
                t: 100,
                pad: 4
            },
            // paper_bgcolor: '#7f7f7f',
            // plot_bgcolor: '#c7c7c7',
            geo:{
                showframe: True,
                showcoastlines: false,
                projection:{
                    type: 'mercator'
                }
            }
        };

        Plotly.newPlot("myDiv", data, layout, {showLink: false});
    </script>
{% endblock content %}